{% extends 'layout.html' %}

{% block content %}
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h1 class="card-title">
                            Django Forms
                        </h1>
                    </div>
                    <div class="card-body">
                        <form action="{% url 'contact' %}" method="POST">
                            {% csrf_token %}

                            <div class="form-group">
                                <label for="name">Name</label>
                                <input type="text" class="form-control" id="name" name="name" placeholder="Enter your name">
                            </div>

                            <div class="form-group">
                                <label for="email">Email</label>
                                <input type="email" class="form-control" id="email" name="email" placeholder="Enter your email">
                            </div>

                            <div class="form-row">

                                <div class="form-group col-md-5">
                                    <label for="address">Address</label>
                                    <input type="text" class="form-control" name="address" id="address" placeholder="Enter your address">
                                </div>

                                <div class="form-group col-md-5">
                                    <label for="city">City</label>
                                    <input type="text" class="form-control" id="city" name="city" placeholder="Enter your city">
                                </div>

                                <div class="form-group col-md-2">
                                    <label for="zipcode">Zip</label>
                                    <input type="text" class="form-control" id="zipcode" name="zipcode" placeholder="Enter your zipcode">
                                </div>

                            </div>

                            <button name="submit" type="submit" class="btn btn-primary">Submit</button>
                        </form>

                        <div class="row mt-5">
                            <div class="col-md-12">
                                {#                                <h3>Name: {{ name | default:'No name' }}</h3>#}
                                {#                                <h3>Email: {{ email | default:'No email' }}</h3>#}
                                {#                                <h3>Address: {{ address | default:'No address' }}</h3>#}
                                {#                                <h3>City: {{ city | default:'No city' }}</h3>#}
                                {#                                <h3>Zipcode: {{ zipcode | default:'No zipcode' }}</h3>#}
                                <table class="table table-responsive table-striped">
                                    <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Email</th>
                                        <th>Address</th>
                                        <th>City</th>
                                        <th>Zipcode</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for row in rows %}
                                        <tr>
                                            <td>{{ row.name }}</td>
                                            <td>{{ row.email }}</td>
                                            <td>{{ row.address }}</td>
                                            <td>{{ row.city }}</td>
                                            <td>{{ row.zipcode }}</td>
                                        </tr>
                                    {% endfor %}

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}